# Binaries
app/admin/admin
app/api/api
app/sidecar/exv/exv

# Mac
.DS_Store

# Backup files
*~*

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.json

# Folders
_obj
_test

# App
.env/
wp/
archives/
backup/
keys/
secrets/
.pgpass
pg.auto.pg1.conf
pg.auto.pg2.conf
.store/
Folder.jpg

# Symlinks
infra/aws
infra/docker/REFs
infra/tf/Terraform

# Editor files
.idea/
*.iml
*.swp

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
//*.test
.vscode/tasks.json
node_modules

# Project specific
LOG.md
LOG.html
README.html
make.md2html.sh
make.perms.sh
make.tarball.sh
Makefile
Makefile.settings